:root {
  --black: #111;
  --white: #eee;
  --white-50: #777;
}

@font-face {
  font-family: "__Calc_Sans_Font";
  src: url(./assets/fonts/162bf645eb375add-s.p.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "__Inter_Font";
  font-style: normal;
  font-weight: 100 900;
  src: url(./assets/fonts/c9a5bc6a7c948fb0-s.p.woff2) format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "__Inter_Font", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  min-height: 100vh;
  overflow: hidden;
  background: #0a0a0f;
}

h1 {
  font-family: "__Calc_Sans_Font", sans-serif;
  background-color: var(--white);
  line-height: 8rem;
  letter-spacing: normal;
  font-size: 2.25rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0.125rem var(--white);
  animation: title 3s ease-out forwards;
  text-wrap: nowrap;
  text-align: center;
  width: 100vw;
  transition-duration: 1s;

  @media screen and (min-width: 640px) {
    font-size: 3.75rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 8rem;
  }
}

@keyframes title {
  0% {
    line-height: 0%;
    opacity: 0;
    letter-spacing: 0.25em;
  }
  25% {
    line-height: 0%;
    opacity: 0;
  }
  80% {
    opacity: 100%;
  }
  100% {
    line-height: 100%;
    opacity: 1;
  }
}

.line {
  height: 1px;
  width: 100vw;
  background: linear-gradient(
    to right,
    transparent,
    var(--white-50),
    transparent
  );
}

.line.top {
  animation: fade-left 3s ease-out forwards;
}

.line.bottom {
  animation: fade-right 3s ease-out forwards;
}

@keyframes fade-left {
  0% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 0;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-100%) translateY(-100%);
  }
  30% {
    transform: translateX(0) translateY(-100%);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    transform: translateY(-100%);
  }
  90%,
  100% {
    opacity: 0;
  }
}

nav,
footer {
  opacity: 0;
  color: var(--white-50);
  font-size: 0.9rem;
  margin-block: 4.5rem;
}

nav {
  display: flex;
  gap: 1rem;
  animation: fade-up 1s 3s ease-out forwards;
}

nav a {
  text-decoration: none;
  color: var(--white-50);
  transition: color 300ms ease-in-out;
}

nav a:hover {
  color: var(--white);
}

footer {
  animation: fade-down 1s 3s ease-out forwards;
  text-align: center;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Basic styling for the canvas container */
.canvas-container {
  width: 100%; /* Fill viewport width */
  height: 100%; /* Fill viewport height */
  aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio, adjust as needed */
  overflow: hidden; /* Ensure content respects border-radius */
  display: flex; /* Flexbox to ensure canvas fills container */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  opacity: 0;
  animation: light-up 4s 1s ease-out forwards;
}

/* Canvas element styling */
canvas {
  display: block; /* Remove extra space below canvas */
  width: 100%; /* Make canvas fill its parent container */
  height: 100%; /* Make canvas fill its parent container */
}

@keyframes light-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
