:root {
  --black: #111;
  --white: #eee;
  --white-50: #777;
}

@font-face {
  font-family: "__Calc_Sans_Font";
  src: url(./assets/fonts/162bf645eb375add-s.p.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "__Inter_Font";
  font-style: normal;
  font-weight: 100 900;
  src: url(./assets/fonts/c9a5bc6a7c948fb0-s.p.woff2) format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "__Inter_Font", sans-serif;
}

body {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  min-height: 100vh;
}

h1 {
  font-family: "__Calc_Sans_Font", sans-serif;
  background-color: var(--white);
  line-height: 10rem;
  font-size: 7rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0.125rem var(--white);
  animation: title 3s ease-in forwards;
  text-wrap: nowrap;
  text-align: center;
  width: 100vw;
}

@keyframes title {
  0% {
    line-height: 0%;
    opacity: 0;
    letter-spacing: 0.75rem;
  }
  25% {
    line-height: 0%;
    opacity: 0;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 1;
    line-height: 100%;
    letter-spacing: 0.1rem;
  }
}

.line {
  height: 1px;
  width: 100vw;
  background: linear-gradient(to right, transparent, var(--white), transparent);
}

.line.top {
  animation: fade-left 3s ease-in forwards;
}

.line.bottom {
  animation: fade-right 3s ease-in forwards;
}

@keyframes fade-left {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

nav,
footer {
  opacity: 0;
  color: var(--white-50);
  font-size: .9rem;
}

nav {
  margin-block-end: 5rem;
  display: flex;
  gap: 1rem;
  animation: fade-up 1s 3s ease-in forwards;
}

nav a {
    text-decoration: none;
    color: var(--white-50);
    transition: color 300ms ease-in-out;
}

nav a:hover {
    color: var(--white);
}

footer {
    margin-block-start: 5rem;
    animation: fade-down 1s 3s ease-in forwards;

}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
